@import url(menu.css);
@import url(main_banner.css);
@import url(aboutme.css);
@import url(skills-home.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
  font-size: 62.5%;
}

body {
  background-color: #121212; /* Um fundo escuro para contrastar com o texto branco */
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}
